/*
    Document   : main
    Created on : 01-Jul-2013, 16:27:22
    Author     : Ben LR
    Description:
        All custom (not bootstrap-related) css for HiveSense.
*/

td img {
	padding-right: 0.7em;
}

#sensor-graph-main {
	width: 600px;
	height: 400px;
}
#sensor-graph-temp {
}
.sensor-graph-large {
	width: 300px;
	height: 200px;
/*	max-width: 500px;*/
}
.sensor-graph-small {
	width: 150px;
	height: 120px;
/*	max-width: 500px;*/
}
#sensor-graph-motion {

}
.sensor-graph-custom {
	width: 260px;
	height: 150px;
	/*max-width: 500px;*/
}

.padded-light {
	margin: 0.2em;
}
.padded {
	margin: 0.5em;
}
.padded-heavy {
	margin: 1em;
}

.hiddenTab {
	display: none;
}

.subtle {
	color: #777;
}
.high-line {
	line-height: 3.5em;
}

.timeList {
	padding-right: 0.8em;
}

.sensor {
	border-radius: 20px 20px;
	border-width: 1px;
	border-style: solid;
	padding: 1em;
}
.sensor-temperature {
	border-color: #ffd5d7;
	background-color: #fffcfd;
}
.sensor-motion {
	border-color: #EFCAF8;
	background-color: #FEF7FF;
}

.sensor-value-text {
	font-size: 200%;
	font-weight: bold;
	text-align: center;
	color: #201;
	text-shadow: 4px 3px whitesmoke;
}
.text-sensor {
	padding-top: 2em;
}

.bg-sensor {
	background-position: center;
	background-repeat: no-repeat;
}
.bg-channel {
	background-size: 100px;
	padding: 3em 0em;
}
.bg-temperature {
	background-image: url(../img/thermometer.png);
	background-size: 160px;
	padding: 5em 0em;
}
.bg-hive {
	background-image: url(../img/hive.png);
	background-size: 90px;
	padding: 3em 0em;
}

.trend-arrow {
	font-size: 150%
}
.arrow-up {
	color: #4a3;
}
.arrow-down {
	color: #a43;
}
.arrow-level {
	color: #34a;
}
.arrow-none {
	color: #ccc;
}

.motion-no {
	color: green;
}
.motion-yes {
	color: orangered;
}

.footer {
	background-color: #eaeaf1;
	text-align: center;
	font-size: 95%;
	color: #333;
	margin: 0.5em 0;
	padding: 0.3em 0;
}

.img-responsive {
	max-width: 100%;
	height: auto
}

.sidebar {
	background-color: #f3f3f4;
	padding: 0.7em;
}

.menu-img {
	padding-left: 1em;
	padding-right: 1em;
}

.settingBlock {
	padding: 1em;
	border: 1px solid #ccf;
}

.bottom-space {
	margin-bottom: 1em;
}

#historyTables th {
	background-color: #c0c0ff;
	font-size: 110%;
}

#historyTables tfoot tr {
	background-color: #d0ffd0;
	font-weight: bold;
}
